
  
  
  mat-sidenav-container{    
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;    
  }
  mat-sidenav {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(255, 0, 0, 0.5);
  }
  mat-card{
    width: 50%; 
    margin-top: 100px;
    margin-left: 100px;
    border: 1px solid black;
  }
  mat-card div{
    padding: 10px 0;
  }
  form{
      text-align: left;

  }
  .right{
    text-align: right;
  }
  mat-sidenav-content { 
    width: auto;
    background: lightblue;
    margin-top: 100px;
    margin-left: 200px;
  }
  /*.menu {
    background-color: darkgray;
    position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2; 
  }
  .matMenu {
    padding: 70px 0 0 150px;
  }
  
  .sidenav-container{    
    text-align: center;
    padding-top: 70px;
  }
  mat-sidenav {
    margin-top: 70px;
    padding: 20px 50px;
    background-color: cadetblue;
    display: block;
  }
  .sidenav-content { 
    background: deeppink;
    margin-left: 100px;
  }
  .top{
    padding: 70px;
  }
  .frm-login { width: 50%; margin: 100 0 0 100; }
    .frm-login-panel{ border: 1px solid black; }
    .frm-login-header { background-color: red; }
    .frm-login-toolbar { background-color: red; color: white; }
    .frm-login-body { display: flex; flex-direction: column; margin-top: 15px; }
    .btn-login { background-color: gray; color: white; }
    .frm-login-actions { text-align: right; }*/   